/**
 *		custom.css
 *	This is where you put the animations and effects into it.
 *
 *
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.character-photo {
	background-image: url('src/character-sprites/character-one.png');
}

.question-banner {
        background-color: #250000;
        color:white;
}



table {
	width:93%;
	border:1px solid rgb(71, 33, 33);
	border-collapse:collapse;
	padding:6px;
	transition-duration: 1s;
}


/********************************
* -
*******************************/
th {
	transition-duration: 1s;
}

/********************************
* HOVER
*******************************/
table th:hover {
	background-color: rgb(90, 34, 34);
	padding: 60;
}

/********************************
* -
*******************************/
table td {
	border:1px solid #b3adad;
	text-align:center;
	padding:3px;
	background: transparent;
        border-radius: 10px;
	color: #ffffff;
	transition-duration: 1s;
}

/********************************
* HOVER
*******************************/
table td:hover {
	padding: 60;
	font-size: 30px;
}



body {
	color: white;
	transform: perspective(auto);
}
