/**
 *		custom.css
 *	This is where you put the animations and effects into it.
 *
 *
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.character-photo {
	background-image: url('src/character-sprites/character-one.png');
}

.question-banner {
	padding: 86px 320px;
        background-color: #250000;
        color:white;
}
