 /*
  ____              _  _    _          ____             _ 
 / ___|  _ __ ___  (_)| |_ | |__      |  _ \  __ _   __| |
 \___ \ | '_ ` _ \ | || __|| '_ \     | |_) |/ _` | / _` |
  ___) || | | | | || || |_ | | | |    |  __/| (_| || (_| |
 |____/ |_| |_| |_||_| \__||_| |_|    |_|    \__,_| \__,_| UI 
  A FOIL UI Based Framework for the Smith Pad                            */

 body {
         font-family: Arial, Helvetica, sans-serif;
         margin: 0;
         overflow-y: auto;
         overflow-x: hidden;
         -webkit-perspective: 1px;
         perspective: 1px;
         background: radial-gradient(90deg, rgb(135, 44, 255) 21%, rgba(110, 148, 84, 0.087) 58%);
 }


 * {
         user-select: none;
 }