.button {
        background-color: black;
        padding: 16px 43px;
        border: none;
        color: white;
        font-size: 18px;
        text-decoration: none;
        animation-name: foil-buttons-effect;
        animation-duration: 2s;
        margin: 20px;

}

button:hover {
        background-color: rgb(1, 179, 1);
        color: black;
        transition-duration: 0.2s;



}

/* Default Animated Button Substitutes */

.button.is-red {
        background-color: red;
        color: white;
}

.button.is-red:hover {
        background-color: green;
        color: white;
        transition-duration: 0.2s;

}

.button.is-red:hover {
        background-color: orange;
        color: black;
        transition-duration: 0.2s;


}

.button.is-yellow {
        background-color: yellow;
        color: white;
}

.button.is-yellow:hover {
        background-color: green;
        color: white;
        transition-duration: 0.2s;


}

.button.is-yellow:active {
        background-color: orange;
        color: black;
        transition-duration: 0.2s;

}

.button.is-orange {
        background-color: rgb(230, 84, 0);
        color: white;
}

.button.is-orange:hover {
        background-color: green;
        color: white;
        transition-duration: 0.2s;

}

.button.is-orange:active {
        background-color: orange;
        color: black;
        transition-duration: 0.2s;

}

.button.is-pink {
        background-color: rgb(187, 0, 146);
        color: white;
}

.button.is-pink:hover {
        background-color: green;
        transition-duration: 0.2s;
}

.button.is-pink:active {
        background-color: orange;
        color: black;
        transition-duration: 0.2s;

}




.button.small {
        padding: 4px 2px;

}

.button.small:hover {
        background-color: green;
        color: white;
        transition-duration: 0.2s;
}

.button.small:active {
        background-color: orange;
        color: black;
        transition-duration: 0.2s;
        font-size: 40px;
}