.button {
        background-color: black;
        border: none;
        color: white;
        padding: 16px 43px;
        text-align: center;
        text-decoration: none;
        display: inline-flex;
        border-radius: 10px;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.2s;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.459), 0 20px 20px 0 rgba(61, 61, 61, 0.589);
}

.button:hover {
        background-color: rgb(1, 179, 1);
        color: black;
        transition-duration: 0.2s;



}

/* Default Animated Button Substitutes */

.button.is-red {
        background-color: rgb(128, 0, 0);
        color: white;
}

.button.is-red:hover {
        background-color: green;
        color: white;
        transition-duration: 0.2s;

}

.button.is-red:hover {
        background-color: orange;
        color: black;
        transition-duration: 0.2s;


}

.button.is-yellow {
        background-color: yellow;
        color: white;
}

.button.is-yellow:hover {
        background-color: green;
        color: white;
        transition-duration: 0.2s;


}

.button.is-yellow:active {
        background-color: orange;
        color: black;
        transition-duration: 0.2s;

}

.button.is-orange {
        background-color: rgb(230, 84, 0);
        color: white;
}

.button.is-orange:hover {
        background-color: green;
        color: white;
        transition-duration: 0.2s;

}

.button.is-orange:active {
        background-color: orange;
        color: black;
        transition-duration: 0.2s;

}

.button.is-pink {
        background-color: rgb(187, 0, 146);
        color: white;
}

.button.is-pink:hover {
        background-color: green;
        transition-duration: 0.2s;
}

.button.is-pink:active {
        background-color: orange;
        color: black;
        transition-duration: 0.2s;

}




.button.small {
        padding: 4px 2px;
        background-color: black;
        border-radius: 3px;
        text-decoration: none;
        color: white;

}

.button.small:hover {
        background-color: green;
        color: white;
        transition-duration: 0.2s;
}

.button.small:active {
        background-color: orange;
        color: black;
        transition-duration: 0.2s;
}