/********************************
        Font-COLOR
********************************/
fontcolorRED {color: red;}

fontcolorORANGE {color: orange;}

fontcolorYELLOW {color: yellow;}

fontcolorBLUE {color: blue;}

fontcolorWHITE {color: white;}

fontcolorBLACK {color: black;}
