/*******************************************************
 *		config.css
 *
 *
 *	Customize FOIL-UI.css  Components
 *******************************************************/

@import url('FOIL-UI.css');

body {
        background: linear-gradient(12deg, #0d0e0f, #0d0e0f);
        color: white;
}

.FOIL-button {
        background: linear-gradient(12deg, #0d0e0f, #0d0e0f);
}


.FOIL-button:hover {
        background: linear-gradient(12deg, #0d0e0f, #0d0e0f);
        box-shadow: red;
        border-style: solid;
        box-shadow: orange;
        padding: 100px 43px;
}

.FOIL-button-small {
        background: linear-gradient(12deg, #0d0e0f, #0d0e0f);
        font-size: 20px;
        border-top: 1px;
        border-color: rgba(110, 148, 84, 1) rgba(134, 44, 255, 1);
        border-style: solid;
}

.FOIL-button-small:hover {
        background: linear-gradient(12deg, #0d0e0f, #0d0e0f);
}


.FOIL-Navigation-Bar {
        background: linear-gradient(circle, rgba(110, 148, 84, 1) 0%, rgba(134, 44, 255, 1) 80%);
        border-radius: 10px;
        color: white;
}


.FOIL-Layout {
        background: linear-gradient(12deg, #3d4348, #3d4348);
        border-radius: 10px;
        color: white;
}




h1 {
        color: white;
}

pre {
        color: white;
}


FOIL-Font-Size-30 {
        color: white;
}


FOIL-Font-Size-60 {
        color: white;
}
