/*******************************************************
 *		config.css
 *
 *
 *	Customize FOIL-UI.css  Components
 *******************************************************/

 @import url('FOIL-UI.css');

 body {
         /*background-color: black;*/
         background: radial-gradient(circle, rgba(110, 148, 84, 1) 30%, rgba(134, 44, 255, 1) 80%);
         color: white;
 }
 
 .FOIL-button {
         /*background: linear-gradient(90deg, rgba(134,44,255,1) 21%, rgba(110,148,84,1) 58%);*/
         background: radial-gradient(circle, rgba(110, 148, 84, 1) 0%, rgba(134, 44, 255, 1) 80%);
         font-size: 29px;
         border-radius: 0px;
         padding: 16px 43px;
         table-layout: auto;
 }
 
 .FOIL-button:hover {
         /*background: linear-gradient(120deg, rgba(134,44,255,1) 100%, rgba(110,148,84,1) 70%);*/
         border-style: solid;
         border-shadow: none;
         font-size: 36px;
 }
 
 .FOIL-button-small {
         /*background: linear-gradient(90deg, rgba(134,44,255,1) 21%, rgba(110,148,84,1) 58%);*/
         background: radial-gradient(circle, rgba(110, 148, 84, 1) 0%, rgba(134, 44, 255, 1) 80%);
         font-size: 20px;
 }
 
 
 .FOIL-Navigation-Bar {
         background: radial-gradient(circle, rgba(110, 148, 84, 1) 0%, rgba(134, 44, 255, 1) 80%);
         border-radius: 10px;
         color: white;
 }
 
 
 .FOIL-Layout {
         background: linear-gradient(90deg, rgba(134, 44, 255, 1) 21%, rgba(110, 148, 84, 1) 58%);
         border-radius: 10px;
         color: white;
 }
 
 
 
 
 h1 {
         color: white;
 }
 
 pre {
         color: white;
 }
 
 
 FOIL-Font-Size-30 {
         color: white;
 }
 
 
 FOIL-Font-Size-60 {
         color: white;
 }